USE [master]
GO
/****** Object:  Database [FilesCollections]    Script Date: 10/6/2020 4:34:52 PM ******/
CREATE DATABASE [FilesCollections]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilesCollections', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilesCollections.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilesCollections_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilesCollections_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilesCollections].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilesCollections]
GO
/****** Object:  Table [dbo].[FilesOnDatabase]    Script Date: 10/6/2020 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilesOnDatabase](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[FileType] [nvarchar](50) NULL,
	[Extension] [nvarchar](10) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedOn] [date] NULL,
	[Data] [varbinary](max) NULL,
 CONSTRAINT [PK_FileId] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilesOnFileSystem]    Script Date: 10/6/2020 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilesOnFileSystem](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[FileType] [nvarchar](50) NULL,
	[Extension] [nvarchar](10) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedOn] [date] NULL,
	[FilePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_FilesOnFileSystem] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
